<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="E:/cumber2/HoThiThieu-PNV2020">
        <parameter name="browser" value="browser"></parameter>
        <parameter name="version" value="firefox"></parameter>
        <parameter name="platform" value="platform"></parameter>
        <classes>
            <class name="runner.TestRunner"></class>
        </classes>
    </test>
</suite>